body{
    margin: 0;
    text-align: center;
    font-family:'Merriweather', serif;
    
    
}
h1{
   margin:auto;
   margin-top: 35px;
    width: 50%;
    font-family: 'Sacramento', cursive;
    font-size: 530%;
}
h2{
    font-family: 'Montserrat', sans-serif;
}
h3{
    font-family: 'Montserrat', sans-serif;
}
.log{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    right: 50px;
    top: 0px;
    margin-top: 10px;
}
.about{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    right: 180px;
    top: 0px;
    margin-top: 10px;
}
.para{
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
.top{
    position: relative;
    padding-top: 100px;
    height: 87vh;
    background-image: linear-gradient(145deg, #FAB2FF 45%, #e31829 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.c1{
   margin-top: 20px;
    position:absolute;
    right: 350px;
   top: 50px;
 
}

.c2{
    display: inline-block;
    position: absolute;
   left: 350px;
   top: 300px;
}
.profile{
    position: relative;
    padding-bottom: 20px;
    height: 45%;
    width: 35%;
    left: 250px;
}
.middle{
    background-color: aquamarine;
}
.txt1{
    position: relative;
    left: 250px;
    color: black;
}
.boy{
    position:absolute;
    left: 650px;
    height: 460px;
    margin-bottom: 0px;
    bottom: 0px;
}
.bottom{
    background-color: bisque;
    margin: 0;
    padding: 0;
}