@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@media screen and (max-width:767px){

}
@media screen and (min-width:1024px) { 

}
@media screen and (min-width:767px) and (max-width:1023px) {
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'poppins',sans-serif;

}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: #081b29;
    color: #ededed;
    
}
.header{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    padding: 2rem 9%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
}
.header.sticky{
    background: #081b29;
}
.logo{
    position: relative;
    font-size: 2.5rem;
    color: #00f0c4;
    text-decoration: none;
    font-weight: 600;    
}

/* .logo::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    animation: showRight 1s ease forwards;
    animation: .4s;
    background:transparent;
} */
#menu-icon{
    font-size: 3.6rem;
    color: #fff;
    cursor: pointer;
    display: none;
}
section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
.navbar a{
   font-size: 1.7rem;
   color: #00f0c4;
   text-decoration: none;
   font-weight: 500;
   margin-left: 3.5rem;
   transition: .3s;
}
.navbar a:hover,
.navbar a.active{
    color: #00abf0;
    font-size: 20px;
    font-weight: bold;
}
.home{
    height: 100vh;
    background: url('/img/img.jpeg') no-repeat;
    display: flex;
    background-size: cover;
    background-position:center;
    align-items: center;
    padding: 0 9%;
}
.home-content{
    max-width: 60rem;

}
.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
    color: white;
}
.home-content h1 span{
    color: #00abf0;
}
.home-content h3{
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}

.home-content p{
    font-size: 1.6rem;
    margin: 2rem 0 4rem;
    color: white;
    font-style:bold;
}

.home-content .btn-box{
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
}
.btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden ;
}

.btn-box a:hover{
    color: #00abf0;
}

.btn-box a:nth-child(2):hover{
    color: #081b29;
}
.btn-box a:nth-child(2)::before{
    background: #00abf0;
}

.btn-box a:nth-child(2){
    background:#081b29;
    color: #00abf0;
}

.btn-box a::before{
    content: '' ;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}


.btn-box a:hover::before{
    width: 100%;
}

.home-sci{
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 20%;
    font-size: 20px ;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover{
     color: #081b29;
}

.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before{
    width: 100%;
}

/* KEYFRAME ANIMATION */
@keyframes showRight{
    100%{
        width: 0;
    }
}

#message{
    animation: blinker 1s linear infinite;
}

@keyframes blinker{
    50%{
        opacity: 0.9;
    }
}
#message1{
    animation:linear infinite;
}
/* mid page */
.mid{
    height: 100vh;
    background: #081b29;
    display: flex;
    background-size: cover;
    background-position:center;
    align-items: center;
    padding: 0 10%;
}

.mid h1{
    display: flex;
    align-items:center;
    justify-content: center;
    position: absolute;
    top: 110vh;

    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    color: white;
}
.about{
    display: flex;
    /* height: 100vh; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background:#112e42;
    padding-bottom: 6rem;
}
.heading{
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}
span{
    color:#00abf0 ;
}

.about-img{
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-img img{
    width: 90%;
    border-radius: 50%;
    border:.2rem solid #00abf0 ;
}
.about-img .circle-spin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid #081b29;
    border-bottom: .2rem solid #081b29;
    border-left: .2rem solid #00abf0;
    border-right: .2rem solid #00abf0;
    animation: aboutSpinner 8s linear infinite;
}
.about-content{
    text-align: center;
}
.about-content h3{
    font-size: 2.6rem;
}
.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}
.btn-box.btns{
    display: inline-block;
    width: 15rem;
}
.btn-box.btns a::before{
    background: #081b29;
}
.education{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
}
.education .education-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}
.education-row .education-column{
    flex: 1 1 40rem;
}
.education-column .title{
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
}

.education-column .education-box{
    border-left: .2rem solid #00abf0;
}
.education-box .education-content{
    position: relative;
    padding-left: 2rem;
}
.education-box .education-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background: #00abf0;
    border-radius: 50%;
}
.education-content .content{
    position: relative;
    padding: 1.5rem;
    border: .2rem solid #00abf0;
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
}
.education-content .content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
}
.education-content .content:hover::before{
    width: 100%;
}

.education-content .content .year{
    font-size: 1.5rem;
    color: #00abf0;
    padding-bottom: .5rem;
}
.education-content .content .year i{
    padding-right: .5rem;
}
.education-content .content h3{
    font-size: 2rem;
}
.education-content .content p{
    font-size: 1.6rem;
    padding-top: .5rem;
}

.skills{
    min-height: auto;
    padding-bottom: 7rem;
}
.skills .skills-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}
.skills-row .skills-column{
    flex: 1 1 40rem;
}
.skills-column .title{
    font-size: 2.5rem;
    margin: 0 0 1.5rem;
}
.skills-box .skills-content{
    position: relative;
    border: .2rem solid #00abf0;
    border-radius: .6rem;
    padding: .5rem 1.5rem;
}
.skills-box .skills-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #5fd3be;
    z-index: -1;
    transition: .5s;
}
.skills-box .skills-content:hover::before{
    width: 100%;
}
.skills-content .progress{
    padding: 1rem 0;
}
.skills-content .progress h3{
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
}
.skills-content .progress h3 span{
    color: #ededed;
}
.skills-content .progress .bar {
    height: 2.5rem;
    border-radius: .6rem;
    border: .2rem solid #00abf0;
    margin: 1rem 0;
}
.skills-content .progress .bar span{
    display: block;
    height: 100%;
    border-radius: .3rem;
    background: #00abf0;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span{
    width: 85%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span{
    width: 70%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span{
    width: 80%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span{
    width: 75%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(5) .bar span{
    width: 65%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span{
    width: 85%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span{
    width: 70%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span{
    width: 80%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span{
    width: 65%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(5) .bar span{
    width: 75%;
}


.contact{
    min-height: auto;
    padding-bottom: 7rem;
}
.contact form{
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}
.contact form .input-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box .input-field{
    position: relative;
    width: 49%;
    margin: .8rem 0;
}
.contact form .input-box .input-field input,
.contact form .textarea-field textarea{
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: #ededed;
    background: transparent;
    border-radius: .6rem;
    border: .2rem solid #00abf0;
}
.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder{
    color: #ededed;
}
.contact form .focus{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #112e42;
    border-radius: .6rem;
    z-index: -1;
    transition: .5s;
}
.contact form .input-box .input-field input:focus~.focus,
.contact form .input-box .input-field input:valid~.focus
.contact form .textarea-field textarea:focus~.focus,
.contact form .textarea-field textarea:valid~.focus{
    width: 100%;
}
.contact form .textarea-field{
    position: relative;
    margin: .8rem 0 2.7rem;
    display: flex;
}
.contact form .textarea-field textarea{
    resize: none;
}
.contact form .btn-box.btns .btn{
    cursor: pointer;
}
.btn1{
    padding: 15px;
    background: #00abf0;
    color: #ededed;
    font-size: 1.8rem;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 15rem;
    margin: 2rem auto 0;
    border-radius: 8%;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: #112e42;
    
}
.footer-text p{
    font-size: 1.6rem;
}

/*break*/
@media (max-width:1200px){
    html{
        font-size: 55%;
    }
}
@media (max-width:991px){
    .header{
        padding: 2rem 4%;
    }
    section{
        padding: 10rem 4% 2rem;
    }
    .home{
        padding: 0 4%;
    }
    .footer{
        padding: 2rem 4%;
    }
}
@media(max-width:768px){
    .header{
        background: #081b29;
    }
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        z-index: 1;
        background: #00abf0;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        transition: .25s ease;
        transition-delay: .25s;
    }
    .navbar.active{
        left: 0;
        transition-delay: 0s;
    }

    .navbar .active-nav{
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: #081b29;
        border-top: .1rem solid rgba(0,0,0,.2);
        z-index: -1;
        transition: .25s ease;
        transition-delay: 0s;
    }
    .navbar.active .active-nav{
        left:0;
        transition-delay: .25s;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        transform: translateX(-20rem);
        transition: .25s ease;
        transition-delay: 0s;
    }
    .navbar.active a{
        transform: translateX(0rem);
        transition-delay: .25s;

    }
}
@media (max-width:520px){
    html{
        font: size 50%;
    }
    .home-content h1{
        display: flex;
        flex-direction: column;
    }
    .home-sci{
        width: 160px;
    }
    .home-sci  a{
        width: 38px;
        height: 38px;
    }
}
@media (max-width:462px){
    .home-content h1{
        font-size: 5.2rem;
    }
    .education{
        padding: 10rem 4% 5rem 5%;
    }
    .contact form .input-box .input-field{
        width: 100%;
    }
    .footer{
        flex-direction: column-reverse;
    }
    .footer p{
        margin-top: 2rem;
        text-align: center;
    }
}
@media (max-width:371px){
    .home{
        justify-content: center;
    }
    .home-content{
        display: flex;
        align-items: center;
        flex-direction: column;  
        text-align: center;
    }
    .home-content h1{
        font-size: 5rem;
    }
}

@keyframes aboutSpinner{
    100%{
        transform: translate(-50%,-50%) rotate(360deg);
    }
}
